.language-switcher {
    display: flex;
    gap: 3vw;
    position: absolute;
    bottom: 24px;
    right: 4.5%;
    font-size: 18px;
    transition: opacity 0.3s ease-in-out; /* Smooth fade effect */
}

.language-option {
    position: relative;
    cursor: pointer;
    color: rgb(0, 37, 69);
    padding: 8px 0;
    transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
    width: 80px;
    text-align: center;
}

.language-option:hover {
    color: rgb(0, 37, 69);
    font-weight: 600;
}

